@font-face {
	font-family: GZA;
	src: url(Gza-Regular.otf), format(otf),
	url(Gza-Regular.eot), format(eot),
	url(Gza-Regular.woff), format(woff),
	url(Gza-Regular.woff2), format(woff2);
}

body {
	background-color: #EEEEEE;
/*	cursor: url(cursor.svg), auto;*/
	user-select: none;   
	width: 100vw;
	height: 100vh;
}

p {
/*  font-family: Gotu;*/
  font-size: 28px;
  position: absolute;
  letter-spacing: -1px;
}

div {
	position: absolute;
/*	border: 1px solid #000000;
	padding: 10px 14px 18px 15px;
	border-radius: 50%;*/
	font-family: GZA;
  font-size: 28px;
/*color: #073AD9;*/
/*color: #0836F2;*/
/*color: #1FAB69;*/
color: #399558;
}




